.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f8;
  min-height: 100vh;
  background: linear-gradient(-45deg, #fc8185, #f1b5a4, #f5ae9a, #ff9a9e);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  background-repeat: no-repeat;
  background-size: cover;

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between items */
    padding: 10px 20px;
    background-color: #f78488; /* Dark peach pink */
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: transform 0.3s ease;
  }
  
  .nav-logo {
    width: 40px; /* Adjust size as needed */
    height: auto;
  }
  
  .nav-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin: 0;
    flex-grow: 1;
    padding-left: 10px; /* Space between the logo and title */
    font-weight: bold; /* Make the title bold */
    text-transform: uppercase; /* Uppercase letters for the title */
  }
  
  .upload-photo-button,
  .logout-button {
    font-family: 'Poppins', sans-serif;
    display: flex; /* Flexbox inside buttons */
    align-items: center; /* Center icon and text vertically */
    justify-content: center; /* Center content horizontally */
    border: none; /* Remove border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 15px; /* Adjust padding for alignment */
    font-size: 15px; /* Font size for consistency */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition for background and shadow */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  }
  
  .upload-photo-button {
    background: #fff; /* White background */
    color: #5a3131;
    margin-right: 20px; /* Space between buttons */
    position: relative; /* Position for pseudo-elements */
    
    &:hover {
      background: #f0f0f0; /* Light grey background on hover */
    }
    
    &:active {
      background: #e0e0e0; /* Darker grey on click */
    }
    
    .upload-photo-icon {
      width: 22px; /* Icon size */
      margin-right: 10px; /* Space between icon and text */
      transition: transform 0.3s ease; /* Smooth transition for icon */
    }
  }
  
  .logout-button {
    background: linear-gradient(135deg, #ff7e8d, #ff9a9e); /* Peachy pink gradient background */
    color: #fff; /* White text color */
    
    &:hover {
      background: linear-gradient(135deg, #ff6b7a, #ff8d8f); /* Darker peachy pink gradient on hover */
    }
    
    &:active {
      background: linear-gradient(135deg, #ff4f6e, #ff7c7f); /* Darker peachy pink gradient on click */
    }
    
    .logout-icon {
      width: 22px; /* Icon size */
      margin-right: 10px; /* Space between icon and text */
      transition: transform 0.3s ease; /* Smooth transition for icon */
    }
  }  
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .error-message {
      color: #dc3545;
      margin-top: 10px;
    }
  }

  .dropzone {
    border: 2px dashed #a0aec0;
    border-radius: 10px; // More rounded corners
    margin-top: 70px;
    padding: 100px; // Reduced padding for a more compact look
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s, background 0.3s;
    position: relative;
    background: #f7fafc; // Slightly lighter background for a cleaner look
  
    &:hover {
      border-color: #63b3ed; // Border color change on hover
    }
  
    .upload-button {
      background: linear-gradient(135deg, #72113e, #ce1c89); // Updated gradient colors
      color: #fff;
      border: none;
      padding: 14px 28px; // Adjusted padding
      cursor: pointer;
      border-radius: 12px; // More rounded corners
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      font-family: 'Poppins', sans-serif;
  
      &:hover {
        background: linear-gradient(135deg, #ce1c89, #72113e); // Reversed gradient on hover
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      }
  
      &:active {
        background: linear-gradient(135deg, #ce1c89, #f078b0); // Darker gradient on click
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  
      .upload-icon {
        width: 24px; // Slightly larger icon
        margin-right: 12px; // Space between icon and text
        transition: transform 0.3s ease;
      }
    }
  
    .drag-drop-text {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 13px; // Larger text for better readability
      color: #2d3748;
      font-weight: bold;
    }
  
    &.dragging {
      border-color: #63b3ed;
      background: #e2e8f0; // Background color change during dragging
    }
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; // Increased spacing
  
    .confirm-button, .cancel-button {
      font-family: 'Poppins', sans-serif;
      color: #fff;
      border: none;
      padding: 12px 24px; // Larger padding for consistency
      cursor: pointer;
      border-radius: 8px; // Rounded corners
      margin: 5px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      }
    }
  
    .confirm-button {
      background-color: #38a169; // Green color for confirmation
      &:hover {
        background-color: #2f855a;
      }
    }
  
    .cancel-button {
      background-color: #e53e3e; // Red color for cancellation
      &:hover {
        background-color: #c53030;
      }
    }
  }
  
  .image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; // Increased gap for better spacing
    margin-bottom: 40px;
  
    .preview-container {
      width: 120px; // Larger preview container
      height: 120px;
      position: relative;
  
      .preview-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px; // More rounded corners
        z-index: 1;
      }
  
      .file-name {
        text-align: center;
        font-size: 0.875rem; // Slightly larger text
        color: #2d3748;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        margin-top: 5px;
      }
  
      .remove-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #e53e3e;
        color: white;
        border: none;
        border-radius: 50%;
        width: 20px; // Larger button
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        transition: background-color 0.3s;
        z-index: 2;
  
        &:hover {
          background-color: #c53030;
        }
      }
    }
  }
  
  .album-container {
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;

    h2 {
      font-size: 2.2rem;
      font-weight: bold;
      color: #4a5568;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 2px solid #4a5568;
      padding-bottom: 10px;
      display: inline-block;
      font-family: 'Poppins', sans-serif;
    }

    .image-gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 5 columns per row */
      gap: 10px; /* Add some space between images */
    }

    .image-container {
      position: relative;
      width: 100%;
      padding-top: 100%; /* Maintain square aspect ratio */

      .gallery-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s;
      }

      .button-overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 10%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s;
        pointer-events: auto; /* Allow clicks to pass through */

        .gallery-button {
          background: transparent;
          border: none;
          cursor: pointer;
          margin: 0 5px;

          .icon {
            width: 20px;
            height: 20px;
          }
        }
      }

      &:hover .button-overlay {
        opacity: 1;
        pointer-events: auto; /* Enable clicks on the buttons when visible */
      }
    }
  }
  .swal2-backdrop {
    position: fixed;  /* Ensure the backdrop is fixed in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);  /* Slight dark tint with 20% opacity */
    z-index: 999;  /* Ensure it is behind the dialog */
  }
  
  .swal2-popup {
    z-index: 1000;  /* Ensure the dialog is above the backdrop */
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 600px; /* Reduced max width */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.close-button:hover {
  background: #ff4757;
}

.upload-lightbox-content {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 600px; /* Reduced max width */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.upload-lightbox .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff6b6b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.upload-lightbox .close-button:hover {
  background: #ff4757;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Reduced gap */
  margin-top: 15px;
}

.image-preview {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

